@font-face {
  font-family: Roboto;
  src: url("./assets/fonts/Roboto-Medium.ttf");
}

#main_container {
  .paragraph {
    font-family: "Roboto", sans-serif !important;
    font-size: 16px;
    color: rgb(60, 60, 221);
  }
}
